RewriteEngine On

RewriteBase /

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# halaman statis
RewriteRule ^about/?$ about.html [L]
RewriteRule ^blog/?$ blog.html [L]
RewriteRule ^services/?$ services.html [L]
RewriteRule ^works/?$ works.html [L]
RewriteRule ^contact/?$ contact.html [L]
RewriteRule ^careers/?$ careers.html [L]

# artikel
RewriteRule ^([A-Za-z0-9_-]+)/?$ post.html?slug=$1 [L,QSA]
